concurrent = $CONCURRENT
check_interval = 0

[[runners]]
  name     = "$NAME"
  url      = "$GITLAB_URL"
  token    = "$GITLAB_TOKEN"
  executor = "docker"
  [runners.docker]
    tls_verify    = false
    image         = "$WORKER_IMAGE"
    privileged    = false
    disable_cache = false
    volumes       = [
      "/cache:/cache",
      "/usr/bin/docker:/usr/bin/docker",
      "/var/run/docker.sock:/var/run/docker.sock"
    ]
    shm_size      = 0
  [runners.cache]
